# vim:ft=muttrc

alternates -group me -group <@NAME2@>.me "<@NAME1@>@<@NAME2@>\.me"

mailboxes `echo =<@NAME2@>.me{,/{Inbox,Archive,Sent,Drafts,Trash,Junk}}`
#source "find ~/.mail/<@NAME2@>.me -type d -exec test -d '{}/cur' -a -d '{}/new' -a -d '{}/tmp' ; -printf 'mailbox =<@NAME2@>.me/%P\n' |"



send2-hook '%f <@NAME2@>.me' 'source $my_config_home/domains/<@NAME2@>.me/setup.rc'

folder-hook <@NAME2@>\.me 'source $my_config_home/domains/<@NAME2@>.me/setup.rc'



macro index ,m  "<change-folder> =<@NAME2@>.me/Inbox<enter>"        "go to Inbox (<@NAME2@>.me)"

