snippet sgdh "Sehr geehrte Damen und Herren" b
Sehr geehrte Damen und Herren,

$0
endsnippet

snippet sgh "Sehr geehrer Herr" b
Sehr geehrter Herr ${1:Name},

$0
endsnippet

snippet sgf "Sehr geehre Frau" b
Sehr geehrte Frau ${1:Name},

$0
endsnippet

snippet mfg "Mit freundlichen Grüßen" b
Mit freundlichen Grüßen$0
endsnippet

snippet vg "Viele Grüße" b
Viele Grüße$0
endsnippet

