snippet html "Basic Layout" b
%html
	%head
		%title ${1:Page Title}
	%body
		$0
endsnippet

snippet tbl "Table" i
	%table
		%tr
			%th $1
		%tr
			%td $2
endsnippet

snippet ul "Unsorted List" i
	%ul
		%li $0
endsnippet

snippet li "Unsorted List" i
%li $0
endsnippet

