# vim:ft=muttrc

alternates -group me -group gmx "<@NAME1@>\.<@NAME2@>@gmx\.de" "<@NAME1@>\.<@NAME2@>@gmx\.net"

mailboxes `echo =gmx{,/{Inbox,Archive,Sent,Drafts,Deleted,Junk}}`



send2-hook '%f gmx' 'source $my_config_home/accounts/gmx/setup.rc'

folder-hook gmx 'source $my_config_home/accounts/gmx/setup.rc'



macro index ,x  "<change-folder> =gmx/Inbox<enter>"        "go to Inbox (GMX)"

