# vim: ft=muttrc

# -- Sidebar --
bind index,pager & sidebar-toggle-visible
bind index,pager = sidebar-open
bind index,pager < sidebar-prev
bind index,pager > sidebar-next

bind pager g noop

bind pager <Down> next-line
bind pager <Up> previous-line
bind pager,index ( next-entry
bind pager,index ) previous-entry

bind index,pager N search-opposite
bind pager \cd half-down
bind pager \cu half-up

# -- Macros --
macro index,pager c "<change-folder>?"


# - View URLs -
macro index,pager,attach,compose \cb "<pipe-message> urlscan --compact<Enter>"   "call urlscan to extract URLs out of a message"
#macro index,pager,attach,compose \cb "<pipe-message> w3m<Enter>"   'open message in w3m'

#macro index,pager \cb "<enter-command> set my_pdsave=\$pipe_decode<enter>\
#  <enter-command> unset pipe_decode<enter>\
#  <pipe-message>~/Projects/gits/extracturl/extract_url.pl<enter>\
#  <enter-command> set pipe_decode=\$my_pdsave<enter>" "get URLs"

# - Abook -
bind editor <tab> complete-query

macro generic,index,pager \ca "<shell-escape>abook<return>" "launch abook"
macro index,pager A "<pipe-message>abook --add-email-quiet > /dev/null<return>" "add the sender address to abook"


