# vim: ft=muttrc

set   nm_default_uri = "notmuch:///home/june/.mail"
set   nm_exclude_tags = "deleted spam"
set   nm_unread_tag = "unread"

virtual-mailboxes "inbox"           "notmuch://?query=tag:inbox"
virtual-mailboxes "archive"         "notmuch://?query=tag:archive"
virtual-mailboxes "sent"            "notmuch://?query=tag:sent"
virtual-mailboxes "deleted"         "notmuch://?query=tag:deleted"


